html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    background-color: #f4b9b8;
}


.header{
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: #887bb0;
    height: 15%;
}

.addbookform{
    display: flex;
    padding-top:2%;  
    justify-content: center;
    height: 12%;
    background-color: #85d2d0;
}

.content{
    margin:10px;
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    /* justify-content: center; */
    /* display: grid;
    grid-template-columns: repeat(5,12%);
    column-gap: 10px;
    grid-auto-rows: 200px;
    row-gap: 10px; */
    /* background-color: aqua; */
}

.booktile{
    display:flex;
    flex-direction: row;
    height: 50px;
    background-color: #fff4bd;
    /* grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    border: solid gray 0.5px;

}

.booktile:hover{
    box-shadow: 5px 5px 15px black;
    border: 0px;
}

/* .cover{
    justify-self: center;
    grid-column: 1/4;
    grid-row: 1/3;
}
.cover img{
    /* object-fit:none; 
    height: 100%;
    max-width: 100%;
    /* margin-left: 10px; 
    margin-bottom: 1px;
} */
/* 
.bookinfo{
    grid-column: 1/4;
    grid-row: 3;
    justify-content: center;
    flex-direction: row;
    overflow:hidden;
    width: 100%;
    height: 25%;
    font-size: 15;
    border: grey solid 1px;
} */

.tap{
    /* grid-column: 1/3;
    grid-row: 3; */
    /* margin-top: 5px; */
    margin-left: 20px;
    padding-right: 2px;
    overflow: hidden;
    align-self: center;

}

.readstatus{
    /* grid-column: 3;
    grid-row: 3; */
    /* background-color: aquamarine; */
    /* border-left: gray solid 1px; */
    /* margin-top: 5px; */
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
    

}

.deletebook{
    margin-right: 20px;
    align-self: center;
}


.savebuttons{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    
}

.savebuttons>button{
    border: 4px solid black;
    background-color: cornsilk;
    align-self: center;
    width: 25%;
}


.savebuttons>button:hover{
    box-shadow: 5px 5px 15px black; 
    border: 2px solid black;
}

#savedevice:hover{
    box-shadow: 5px 5px 15px black; 
    border: 2px solid black;
}









